
 @import url('https://fonts.googleapis.com/css?family=Rubik:500');
 @import url('https://fonts.googleapis.com/css?family=Rubik');

 body{
    background-color: rgb(235, 230, 230); 
    margin: 0 auto; 
 }

.headerMain {
    width:1050px;
    height: 67.5px;
    margin: 0px auto;
    z-index:0;
    
    
  }
   
.header {
    position: fixed;
    width:965px;
    height: 67.5px;
    background-color: rgb(22, 22, 22);
    display: flex;
    z-index: 9999;
    margin: 0px auto;
    padding: 0  42.5px;
    
  }
 
  .dateAll{
    
    
    width:190px;
    align-items: center;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    
    
  }
  
  .time{
    
    font-family: Rubik;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 20px;
    
    
 }
 .icontime{
    
    font-size: 21px;
 }
 .date {
    font-family: Rubik;
    margin: 0 7px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 20px;
 
  }

 .text_head {
     font-family: Rubik;
     position: fixed;
     margin: auto;
     font-size: 32.5px;
     
     margin-top: 16px;
     
     color: rgb(255, 255, 255);
     font-weight: 500;
     z-index: 9999;

 }
 .mainBackground{
     width: 1050px;
     
     background-color: rgb(255, 255, 255);
     margin: 0 auto;
     padding: 0px;
     
 }
 .page-content{
    padding: 50px 42.5px;
    display: flex;
    flex-wrap: wrap;
 }



 .h1txt {
     font-family: Rubik;
     margin: 0;
     color: rgb(0, 0, 0);
     font-weight: 500;
     font-size: 35px;
     margin-bottom: 15px;
     
     
     
 }
 .aStates{
    
     margin: 12.5px 0 15px 0; 
     
 }
 .BackAllNews:hover{
    color: rgb(88, 88, 88);
 }
 .BackAllNews{
    font-family: Rubik;
    color: rgb(167, 167, 167);
    font-weight: 500;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s;
 }
 .AllnewsMain{
    
    width: 762px;
    
 }
 .newsMain{
    display: inline-flex;
    flex-wrap: wrap;
   
    
 }
 .SpaceStates{
     margin-bottom: 13.5px;
     margin-right: 13.5px;
 }
 .SpaceStates2{
    margin-bottom: 13.5px;
 }
 .img {
        
     width: 367px;
     height: 301px;
     background:  50% / cover;
     border-radius: 10px;
     
 }

 .imgbig {
   
     width: 747.5px;
     height: 301px;
    
     background: gray url(https://dummyimage.com/300x180/555/fff.png) 50% / cover;
     border-radius: 10px;
     
    
     box-shadow: inset 0px 0px 35px rgba(143, 143, 143, 0.5);
 }


 .pic4 {
     background-image: url("img/Apple.webp");
     filter: grayscale(100%);
     transition: 0.3s;
 }

 .pic2 {
     background-image: url("img/ApWatch.webp");
     filter: grayscale(100%);
     transition: 0.3s;
 }


 .pic3 {
     background-image: url("img/Cross.webp");
     filter: grayscale(100%);
     transition: 0.3s;
 }



 .pic1 {
     background-image: url("img/Tim.webp");
     filter: grayscale(100%);
     transition: 0.3s;
 }



 .pic5 {
     background-image: url("img/FireFox.webp");
     filter: grayscale(100%);
     transition: 0.3s;
 }



 .pic6 {
     background-image: url("img/tesla.webp");
     filter: grayscale(100%);
     transition: 0.3s;
 }





 .fon {
     margin: 13% 5.8%;
     background-color: rgb(238, 237, 237);
     width: 520px;
     height: 520px;
     position: absolute;

 }

 .h2st1 {
    font-family: Rubik;
    margin-bottom: 3.5%;
    color: rgb(255, 255, 255);
    font-size: 25px;
    
    font-weight: 500;
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}
.pst1 {
    font-family: Rubik;
    font-weight: normal;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 17px;
    
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}
.h2st2 {
    font-family: Rubik;
    color: rgb(255, 255, 255);
    margin-bottom: 3.5%;
    font-size: 25px;
    
    font-weight: 500;
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}



.pst2 {
    font-family: Rubik;
    font-weight: normal;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: 17px;
    
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}
.h2st3 {
    font-family: Rubik;
    color: rgb(0, 0, 0);
    margin-bottom: 3.5%;
    font-size: 25px;
    width: 400px;
    font-weight: 500;
    text-shadow: 0 0 5px rgba(223, 223, 223, 0.5);
}

.pst3 {
    font-family: Rubik;
    font-weight: normal;
    margin: 0;
    color: rgb(0, 0, 0);
    font-size: 17px;
    width: 310px;
    text-shadow: 0 0 5px rgba(223, 223, 223, 0.5);
}
.h2st4 {
    font-family: Rubik;
    color: rgb(255, 255, 255);
    margin-bottom: 3.5%;
    font-size: 25px;
    
    font-weight: 500;
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);

}

.pst4 {
    font-family: Rubik;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 17px;
   
    font-weight: normal;
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);


}
.h2st5 {
    font-family: Rubik;
    color: rgb(255, 255, 255);
    margin-bottom: 3.5%;
    font-size: 25px;
   
    font-weight: 500;
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}



.pst5 {
    font-family: Rubik;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 17px;
    
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}
.h2st6 {
    font-family: Rubik;
    color: rgb(255, 255, 255);
    margin-bottom: 3.5%;
    font-size: 25px;
    width: 350px;
    font-weight: 500;
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}



.pst6 {
    font-family: Rubik;
    font-weight: normal;
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 17px;
    width: 250px;
    text-shadow: 0 0 5px rgba(31, 31, 31, 0.726);
}
.textStatesMain{
    position: absolute;
    margin-top: 150px;
    margin-left: 25px;
    width: 300px;
}
.textStatesBig{
    position: absolute;
    margin-top: 10px;
    margin-left: 25px;
}



 .state1:hover .pic1{
    cursor: pointer;
    filter:none;
    transform: scale(1.02)
 }
 .state2:hover .pic2{
     cursor: pointer;
    filter:none;
    transform: scale(1.02)
 }
 .state3:hover .pic3{
     cursor: pointer;
    filter:none;
    transform: scale(1.02)
 }
 .state4:hover .pic4{
    cursor: pointer;
    filter:none;
    transform: scale(1.02)
 }
 .state5:hover .pic5{
     cursor: pointer;
    filter:none;
    transform: scale(1.02)
 }
 .state6:hover .pic6{
     cursor: pointer;
    filter:none;
    transform: scale(1.02)
 }
 .h2st1:hover,.pst1:hover{
     cursor: pointer;
 }
 .h2st2:hover,.pst2:hover{
    cursor: pointer;
}
.h2st3:hover,.pst3:hover{
    cursor: pointer;
}
.h2st4:hover,.pst4:hover{
    cursor: pointer;
}
.h2st5:hover,.pst5:hover{
    cursor: pointer;
}
.h2st6:hover,.pst6:hover{
    cursor: pointer;
}
.nav {
    font-size: 103%;
}


ul{
    padding: 4% 5%;
    margin: 0;
    
}

.backstates{
    
    width: 720px;
    border-radius: 10px;
    margin-right: 12px;
    padding: 15px;
    background-color: rgb(247, 247, 247);
    box-shadow: inset 0px 0px 20px rgba(190, 190, 190, 0.5);
}
.pSTates{
    font-family: Rubik;
    font-weight: normal;
    margin-top: 0;
    color: rgb(77, 77, 77);
    font-size: 17.5px;
    margin-bottom: 20px;
    line-height: 1.7;
}
.imgstates{
    width: 720px;
     height: 350px;
     background: 50% / cover;
     border-radius: 10px;
    margin-bottom: 20px;
     
     
}
.videoStates{
    width: 720px;
     height: 350px;
    margin-bottom: 20px;
    
}
.footerStates{
    margin-top: 15px;
    width: 750px;
    display: flex;
    flex-flow: row wrap;
    font-size: 16px;
}
.navRight{
    margin-left: auto;
    
}
.pic1state1{
    background-image: url("/img/TimKook.webp")
}

.pic1state2{
    background-image: url("/img/AppleWatchCollection.webp");
}
.pic1state3{
    background-image: url("/img/Sp19_BB_Nike_Adapt_Shoe_Screen_Horz_01012019_native_1600.webp");
}
.pic1state4{
    background-image: url("/img/MicrosoftPhone.webp");
}
.pic2state4{
    background-image: url("/img/MicrosoftPhone2.webp");
}
.pic1state5{
    background-image: url("/img/TheNewFirefox.webp");
}
.pic1state6{
    background-image: url("/img/TeslaModelS.webp");
}

.navtxtstate{
    font-family: Rubik;
     color: rgb(85, 85, 85);
     font-weight: normal;
     font-size: 16px;
     text-decoration: none;
    
     
}
.navtxtstate:hover{
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 16.1px;
}

footer{
    bottom: 0;
}
.footer{
    align-items: center;
    background-color: rgb(22, 22, 22);
    width: 965px;
    margin: auto;
    height: 85px;
    display: flex;
    z-index: 10000;
    padding: 0 42.5px;
}
.MadeWith{
    
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
  }
.foot{ 
        
        display: flex;
    
}

 .imgfooter{
    width: 158.2px;
    height: 36.2px;
    z-index: 10001;
    margin: auto auto auto 15px;
    
 }
 .txtfootName{
     margin-top: 0;
     margin-bottom: 5px;
     font-family: Rubik;
    color: rgb(231, 231, 231);
    font-weight: normal;
    font-size: 15.5px;
    
 }
 .txtfoot{
    font-family: Rubik;
 
    color: rgb(231, 231, 231);
    font-weight: normal;
    font-size: 15.5px;
    margin: 0 auto;
    
 }
 .imgfooter:hover, .txthov:hover {
     cursor: pointer;
    }

 .NameStates{
    font-family: Rubik;
    margin: 0;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 35px;
    margin-bottom: 15px;
    
 }
 .navig{
    
    background-color: none;
    background-color: rgb(247, 247, 247);
    padding: 7px;
    
    border-radius: 10px;
    box-shadow: inset 0px 0px 20px rgba(190, 190, 190, 0.5);
    
}
.Navigation{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 205px;
    
}

.tnavig {
    
    font-family: Rubik;
    font-weight: normal;
    font-size: 1em;
    color: rgb(119, 119, 119);
    text-decoration: none;
    transition: 0.5s;
    letter-spacing: 0.5px;

}

.tnavig:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1.05;
   
}
.tNavigActiv{
    color: rgb(0, 0, 0);
    
}
 @media (min-width: 320px){
    .Navigation{
        display: none;
    }
    .headerMain{
        width: 840px;
        margin: 0 auto;
    }
    .header {
        height: 85.6px;
        width:755px; 
      }
      .mainBackground{
        width: 840px;
      }
      .text_head {
       
        font-size: 45.5px;


    }
    .dateAll{
        width:280px;
      }
    .time{  
        font-size: 27.5px;
     }
     .icontime{
        font-size: 27.5px;
     }
     .date {
        font-size:27.5px;
        margin: 0 10px;
      }
    .footer{
    
        width: 755px;
      
    }
    .foot{
    
        width: 755px;
      
    }
    .newsMain{
        
        width: 700px;
        
     }
     .page-content{
        padding: 50px 70px;
     }

     .txtfootName{
       
       font-size: 14px;
       
    }
    .MadeWith{
    
        margin-left: auto;
        
        justify-content: flex-end;
      }
    .txtfoot{
       
       font-size: 14px;
    }

    .navtxtstate{
        font-size: 17.5px;

    }
    .navtxtstate:hover{
        color: rgb(0, 0, 0);
        transition: 0.5s;
        font-size: 17.6px;

    }
    .h1txt{
      
        text-align: center;
        margin-bottom: 25px;
    }
    .SpaceStates{
        margin-right: 0;
        margin-bottom: 25px;
    }
    .SpaceStates2{
        margin-bottom: 25px;
    }
    .img, .imgbig{
        width: 700px;  
    }
    .pic4 {
        background-image: url("img/MicroPhone.jpg");
        
    }
   
    .pic2 {
        background-image: url("img/AppleWatch.jpg");
       
    }
   
   
    .pic3 {
        background-image: url("img/Cross.webp");
       
    }
   
   
   
    .pic1 {
        background-image: url("img/TimKk.jpg");
       
    }
   
   
   
    .pic5 {
        background-image: url("img/FireBrowser.jpg");
        

    }
   
   
   
    .pic6 {
        background-image: url("img/tesla.webp");
       

    }
    .textStatesMain{
        position: absolute;
        margin-top: 10px;
        margin-left: 25px;
        width: 340px;
    }
    .Supp{
        display: none;
    }
    .txtfootName, .txtfoot{
        font-size: 18px;
    }
    .footer{
        height: 95px;
    }
    
}

@media (min-width: 768px){
    .footer{
        height: 85px;
    }
    .txtfootName, .txtfoot{
        font-size: 15.5px;
    }
    .Supp{
        display: block;
    }
    .SpaceStates{
        margin-bottom: 13.5px;
        margin-right: 13.5px;
    }
    .SpaceStates2{
       margin-bottom: 13.5px;
    }

    .h1txt{
        text-align: left;
        margin: 0 0 15px 0;
    }
    .textStatesMain{
        position: absolute;
        margin-top: 150px;
        margin-left: 25px;
        width: 300px;
    }
    .img {
        width: 367px;  
    }
    .imgbig{
        width: 747.5px;
    }
    .pic4 {
        background-image: url("img/Apple.webp");
        

    }
   
    .pic2 {
        background-image: url("img/ApWatch.webp");
        

    }
   
   
    .pic3 {
        background-image: url("img/Cross.webp");
      
    }
   
   
   
    .pic1 {
        background-image: url("img/Tim.webp");
       
    }
   
   
   
    .pic5 {
        background-image: url("img/FireFox.webp");
        

    }
   
   
   
    .pic6 {
        background-image: url("img/tesla.webp");
        

    }
    .Navigation{
        display: none;
    }
    .headerMain{
        width: 840px;
        margin: 0 auto;
    }
    .header {
        height: 67.5px;
        width:755px; 
      }
      .mainBackground{
        width: 840px;
      }
      .text_head {
       
        font-size: 32.5px;
        
        

    }
    .dateAll{
        width:190px;
      }
    .time{  
        font-size: 20px;
     }
     .icontime{
        font-size: 21px;
     }
     .date {
        font-size:20px;
        margin: 0 7px;
      }
      .footer{
    
        width: 755px;
      
    }
    .foot{
    
        width: 755px;
      
    }
    .newsMain{
        
        width: 747.5px;
        
     }
    .AllnewsMain{
    
        width: 747.5px;
        
     }
     .page-content{
        padding: 50px 46.5px;
     }

     .txtfootName{
       
       font-size: 14px;
       
    }
    .MadeWith{
    
        margin-left: auto;
        
        justify-content: flex-end;
      }
    .txtfoot{
       
       font-size: 14px;
    }

    .navtxtstate{
        font-size: 17.5px;

    }
    .navtxtstate:hover{
        color: rgb(0, 0, 0);
        transition: 0.5s;
        font-size: 17.6px;

    }

}


@media (min-width: 1024px){
    .Navigation{
        
        display: flex;
       
    }
    .headerMain {
        width:1050px;
      }
      .header {
        
        width:965px; 
      }
      .mainBackground{
        width: 1050px;   
      }
      .foot{
        
        width: 965px;
       
    }
    .AllnewsMain{
    
        width: 762px;
        
     }
     .page-content{
        padding: 50px 42.5px;
     }
     .footer{
    
        width: 965px;
      
    }
    .txtfootName{
       
        font-size: 15.5px;
        
     }
     .txtfoot{
        
        font-size: 15.5px;
     }
     .navtxtstate{
        font-size: 16px;

    }
    .navtxtstate:hover{
        color: rgb(0, 0, 0);
        transition: 0.5s;
        font-size: 16.1px;

    }
}

